.text-box {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.5;
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  margin: 10px;
}