@charset "utf-8";

.text-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
}
